<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registro Apartamento</title>
</head>
<body>
<center>
	<form action="#" th:action="@{/apartamento/registro}" enctype="multipart/form-data" method="POST" th:object="${apartamento}">
		<table>
			<tr>
				<td colspan="4"><h2>Resgistro Apartamento</h2></td>
			</tr>
			<tr>
				<td colspan="4"><textarea style="resize:none;width:100%" rows="4" th:field="*{descripcion}" placeholder="Descripción"></textarea></td>
			</tr>
			<tr>
				<td coslpan="4"><label style="color:red" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></label></td>
			</tr>
			<tr>
				<td colspan="2" style="width:50%">Tipo: </td>
				<td colspan="2"><select th:field="*{tipo_apartamento}">
					<option th:each="tipo:${tipos}" th:value="${tipo.id}" th:text="${tipo.nombre}">
				</select></td>
			</tr>
			<tr>
				<td colspan="2">Dirección: </td>
				<td colspan="2"><input type="text" th:field="*{direccion}"/></td>
			</tr>
			<tr>
				<td coslpan="4"><label style="color:red" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></label></td>
			</tr>
			<tr>
				<td colspan="2">Población: </td>
				<td colspan="2"><input type="text" th:field="*{poblacion}"/></td>
			</tr>
			<tr>
				<td coslpan="4"><label style="color:red" th:if="${#fields.hasErrors('poblacion')}" th:errors="*{poblacion}"></label></td>
			</tr>
			<tr>
				<td colspan="2">País: </td>
				<td colspan="2"><input type="text" th:field="*{pais}"/></td>
			</tr>
			<tr>
				<td coslpan="4"><label style="color:red" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></label></td>
			</tr>
			<tr>
				<td colspan="2">Baños: </td>
				<td colspan="2"><input type="text" th:field="*{aseos}"/></td>
			</tr>
			<tr>
				<td colspan="2">Dormitorios: </td>
				<td colspan="2"><input type="text" th:field="*{dormitorios}"/></td>
			</tr>
			<tr>
				<td colspan="2">Metros cuadrados: </td>
				<td colspan="2"><input type="text" th:field="*{m2}"/></td>
			</tr>
			<tr>
				<td>Garaje </td>
				<td><input type="checkbox" th:field="*{garaje}"/></td>
				<td>Aceptan mascotas </td>
				<td><input type="checkbox" th:field="*{mascotas}"/></td>
			</tr>
			<tr>
				<td>Amueblado </td>
				<td><input type="checkbox" th:field="*{amueblado}"/></td>
				<td>Piscina </td>
				<td><input type="checkbox" th:field="*{piscina}"/></td>
			</tr>
			<tr>
				<td>Jardin </td>
				<td><input type="checkbox" th:field="*{jardin}"/></td>
				<td>Trastero </td>
				<td><input type="checkbox" th:field="*{trastero}"/></td>
			</tr>
			<tr>
				<td>Ascensor </td>
				<td><input type="checkbox" th:field="*{ascensor}"/></td>
			</tr>
			<tr>
				<td colspan="4">Subir fotos: <input type="file" name="fotos" accept="image/*" multiple/></td>
			</tr>
			<tr>
				<td colspan="4"><center><input type="submit" value="Registrar"/></center></td>
			</tr>
			<tr>
				<td colspan="4"><span th:utext="${exito}"></span></td>
			</tr>
		</table>
	</form>
</center>
</body>
</html>