<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registro Usuario</title>
</head>
<body>
<center>
	<form action="#" th:action="@{/registro}" method="POST" th:object="${usuario}">
		<h2>Alta usuario</h2>
		<p>Si ya esta registrado, inicie sesión <a th:href="@{/login}">aquí</a></p>
		<input type="text" th:field="*{login}" placeholder="Nombre de usuario"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
		<br>
		<input type="password" th:field="*{clave}" placeholder="Contraseña"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}"></label>
		<br>
		<input type="text" th:field="*{email}" placeholder="Correo electrónico"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
		<br>
		<input type="text" th:field="*{dni}" placeholder="DNI"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></label>
		<br>
		<input type="text" th:field="*{nombre}" placeholder="Nombre"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></label>
		<br>
		<input type="text" th:field="*{apellidos}" placeholder="Apellidos"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></label>
		<br>
		<label>Fecha nacimiento: </label><input type="date" th:field="*{f_nacimiento}"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('f_nacimiento')}" th:errors="*{f_nacimiento}"></label>
		<br>
		<input type="radio" th:field="*{sexo}" th:value="${0}"/>Mujer<input type="radio" th:field="*{sexo}" th:value="${1}"/>Hombre
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></label>
		<br>
		<input type="text" th:field="*{direccion}" placeholder="Dirección"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></label>
		<br>
		<input type="text" th:field="*{telefono}" placeholder="Teléfono"/>
		<br>
		<label style="color:red" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></label>
		<br>
		<label>Rol: </label><select th:field="*{rol}">
			<option th:value="1" th:text="Huésped"></option>
			<option th:value="2" th:text="Anfitrión"></option>
		</select>
		<br>
		<label th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"></label>
		<br>
		<input type="submit" name="submit" value="Aceptar">
		<br>
		<span th:utext="${exito}"></span>
		</form>
</center>
</body>
</html>