<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Iniciar sesión</title>
</head>
<body>
	<h2>Iniciar sesión</h2>
	<form th:action="@{/login}" method="POST" class="form-signin">
		<table>
			<tr>
				<td>Usuario:</td>
				<td><input type="text" id="login" name="login" class="form-control"/></td>
			</tr>
			<tr>
				<td>Contraseña:</td>
				<td><input type="password" id="clave" name="clave" class="form-control"/></td>
			</tr>
			<div align="center" th:if="${param.error}">
				<tr>
					<td colspan="2" style="color:red"><p>Usuario y/o contraseña incorrecto.</p></td>
				</tr>
			</div>
			<tr>
				<td colspan="20" align="center"><button type="Submit" name="Submit">Iniciar sesión</button> o <a th:href="@{/registro}">Crear una cuenta</a></td>
			</tr>
		</table>
	</form>
</body>
</html>